# vi:ft=zsh

source ~/.profile

# Paths ------------------------------------------------------------------------

export PATH="$HOME/.local/bin:{{if (index . "path")}}{{.path}}:{{end}}$PATH"

# Completion -------------------------------------------------------------------

autoload -U compinit
compinit

# allow tab completion in the middle of a word
setopt COMPLETE_IN_WORD

# allow cursors to select completion
zstyle ':completion:*' menu select

# Complete aliases as well as commands
setopt COMPLETE_ALIASES

# History ----------------------------------------------------------------------

setopt SHARE_HISTORY
setopt HIST_IGNORE_DUPS
setopt HIST_VERIFY

export HISTFILE="$HOME/.zsh_history"
export HISTSIZE=100000000
export SAVEHIST=$HISTSIZE

# Fix annoyances ---------------------------------------------------------------

setopt NO_BEEP

# turn off flow control
stty -ixon -ixoff

# prevent external programs changing tty settings
ttyctl -f

# Search -----------------------------------------------------------------------

# Search history using arrow keys
autoload -Uz up-line-or-beginning-search
autoload -Uz down-line-or-beginning-search

zle -N up-line-or-beginning-search
zle -N down-line-or-beginning-search

bindkey "^[[A"     up-line-or-beginning-search
bindkey "^[[B"     down-line-or-beginning-search
bindkey  "^[[1~"   beginning-of-line
bindkey  "^[[4~"   end-of-line

# Control-R backwards search
bindkey "^R" history-incremental-search-backward

# Key bindings -----------------------------------------------------------------

bindkey -e

# Custom Prompt ----------------------------------------------------------------

# basename(dirname) $
PROMPT="%F{magenta}%1~%f %{$%G%} "

# Locale ----------------------------------------------------------------------

export LC_ALL="{{if (index . "locale")}}{{.locale}}{{else}}en_GB.UTF-8{{end}}"
export LANG="{{if (index . "lang")}}{{.lang}}{{else}}en_GB.UTF-8{{end}}"

# Misc ------------------------------------------------------------------------

# Show elapsed time + CPU stats for long running processes
# Counts execution time /not/ wall clock
REPORTTIME=10

# Init ------------------------------------------------------------------------

## Set shell title to the hostname of the machine
precmd() {
    print -Pn "\033k${HOSTNAME%%.*}\033\\"
}
